
**/*.log
**/go.sum
**/.idea
**/*.exe
**/package-lock.json
**/node_modules
**/dist
**/__debug_bin*
vcpkg_installed/

/tools/dotconf/run_out/
/tools/ende/decode/encode.json
/tools/ende/decode/encode.json_en
/tools/ende/decode/encode.json_en
demo/wait_conn/wait_conn
demo/redis/orm/orm
demo/redis/go_redis
/samples/debug

samples/db/tools/dao/
samples/db/tools/model/has_sub_model.go
samples/db/tools/model/notice_model.go
samples/db/tools/model/sub_model.go
samples/db/rocksdb/rocksdb
samples/certificate/ecdsa/temp
samples/certificate/ecdsa/ecdsa
samples/certificate/ed25519/temp/
samples/certificate/ed25519/ed25519
samples/gindot/gindot
samples/db/redis_client/redis_client
samples/etcd_client/etcd_client
samples/etcd_server/etcd_server
samples/etcd_server/default.etcd

samples/rpc/bl/bl_etcds/bl_etcds
samples/rpc/bl/bl_grpc_client/bl_grpc_client
samples/rpc/bl/bl_server/bl_server
samples/rpc/bl/bl_server/default.etcd/
samples/rpc/bl/bl_server2/bl_server2
samples/rpc/bl/bl_server2/default.etcd/
samples/rpc/bl/bl_server3/bl_server3
samples/rpc/bl/bl_server3/default.etcd/

samples/rpc/bls/bls_etcds/bls_etcds
samples/rpc/bls/bls_grpc_client/bls_grpc_client
samples/rpc/bls/bls_server/bls_server
samples/rpc/bls/bls_server/default.etcd/
samples/rpc/bls/bls_server2/bls_server2
samples/rpc/bls/bls_server2/default.etcd/
samples/rpc/bls/bls_server3/bls_server3
samples/rpc/bls/bls_server3/default.etcd/

samples/rpc/nobl/nobl_connect_client/nobl_connect_client
samples/rpc/nobl/nobl_grpc_client/nobl_grpc_client
samples/rpc/nobl/nobl_server/nobl_server

samples/rpc/nobls/nobls_connect_client/nobls_connect_client
samples/rpc/nobls/nobls_grpc_client/nobls_grpc_client
samples/rpc/nobls/nobls_server/nobls_server

samples/rpc/web_rpc/web_rpc_server/web_rpc_server
samples/sconfig/sconfig
samples/simple/simple

samples/upgraders/upgraders

line/db/tools/gdao/gdao
line/db/tools/gmodel/gmodel
samples/Makefile.gen
samples/rpc/bl/bl_etcds/default.etcd
samples/rpc/bl/bl_etcds/default.etcd1
samples/rpc/bl/bl_etcds/default.etcd2
samples/rpc/bl/bl_etcds/default.etcd3
samples/rpc/bl/bl_etcds/default.etcd
samples/rpc/bls/bls_etcds/default.etcd1
samples/rpc/bls/bls_etcds/default.etcd2
samples/rpc/bls/bls_etcds/default.etcd3
samples/rpc/bls/bls_etcds/default.etcd
line/db/pebble2dot/temp/
tools/ende/decode/decode
tools/ende/encode/encode

cmd/den_config/ed25519_gen/den.pri
cmd/den_config/ed25519_gen/den.pub
