
/sample/debug
/sample/certificate/ca.key
/sample/certificate/ca.pem
/sample/certificate/client.key
/sample/certificate/client.pem
/sample/certificate/server.key
/sample/certificate/server.pem

**/*.log
**/go.sum
**/.idea
**/*.exe
**/package-lock.json
**/node_modules
**/dist

/tools/dotconf/run_out/
