go 1.26.4

use (
	./
	./demo
	./demo/redis
	./demo/redis/orm
	./demo/bench_http
	./line/db/tools/gdao
	./line/db/tools/gmodel
	./line/db/rocksdbdot
	./samples/db/rocksdb
	./samples/db/rocksdb_bench
)
