go 1.27.1

use (
	./
	./demo
	./demo/bench_http
	./demo/redis
	./demo/redis/orm
	./line/db/rocksdbdot
	./line/db/tools/gdao
	./line/db/tools/gmodel
	./samples/db/pebble_server_bench
	./samples/db/rocksdb
	./samples/db/rocksdb_bench
	./tools/dotenc
)
